/*
 *
 * Designed by: Themezy!
 * 
 *
 * https://www.themezy.com/free-website-templates/176-amoeba-free-responsive-website-template
 *
 */

a {
	color: #26C3EF;
}
a:hover {
	color: #26C3EF;
}

/* menu */
.nav>li>a:hover {
	color: #26C3EF;
}

.navbar .navbar-nav > .active > a {
	color: #26C3EF;
}

/* flexslider */
.flex-control-paging li a {
	background: #35A49C;
}

.flex-direction-nav a:hover{
	background-color:#35A49C;
}

.testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #35A49C;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #35A49C;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #35A49C;
}

/* btn */
.btn-theme {
  background: #26C3EF;
  color: white;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #26C3EF;
}
.btn-cta,.btn-cta.btn-lg {
  background: #939595;
  border-color: #939595;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #939595;
}

/* contact */
.validation {
	color:#35A49C;
}

/* footer */
.social-circle li a {
	background:#35A49C;
}

a.scrollup{
	background:#26C3EF;
}